<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Biography - Daniel Iván</title>
    <link rel="stylesheet" type="text/css" href="../styles/main.css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet" />
  </head>
  <body>
    <nav>
      <div class="bio-logo">
        <img src="../assets/bio.webp" alt="logo" title="Biography's logo" />
      </div>
      <div class="nav-links">
        <div class="selected">
          <a href="bio.html">Bio</a>
        </div>
        <div>
          <a href="funfacts.html">Fun Facts</a>
        </div>
        <div>
          <a href="contact.html">Contact</a>
        </div>
      </div>
    </nav>
    <section class="container">
      <div class="profile-container">
        <a href="../index.html">
          <div>
            <img src="../assets/profile.jpeg" alt="Profile Picture" title="Profile Picture">
          </div>
        </a>
        <a href="../index.html">
          <h1>Daniel Ivan</h1>
        </a>
      </div>
      <div class="content">
        <p>My name is Daniel Iván Salado Torres and I am son of Jacinto Salado Balderrama
          and Laurelena Torres Muñoz. I was born on September 16, 1997 in Acapulco, Guerrero.</p>
        <p>The first time I go to school I was in 2nd grade of Kindergarden in Colegio Latinoamericano.
          But I stayed just one year, and that's because some stupid people bought the ground and turned it
          into a parking lot. Then I went to Colegio Zumárraga until I finished the Secondary School.
          And finally, I studied the high school at the Simón Bolívar.</p>
        <p>At this time, I'm 22, and like my summary says, I'm an university student th the Faculty of Mathematics.</p>
        <p>That's it, I'm just a regular and handsome young man. :D</p>
      </div>
    </section>
  </body>
</html>
