<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Contact - Daniel Iván</title>
    <link rel="stylesheet" type="text/css" href="../styles/main.css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/f65f0aa3f6.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <nav>
      <div class="bio-logo">
        <img src="../assets/bio.webp" alt="logo" title="Biography's logo" />
      </div>
      <div class="nav-links">
        <div>
          <a href="bio.html">Bio</a>
        </div>
        <div>
          <a href="funfacts.html">Fun Facts</a>
        </div>
        <div class="selected">
          <a href="contact.html">Contact</a>
        </div>
      </div>
    </nav>
    <section class="container-contact">
      <div class="profile-container">
        <a href="../index.html">
          <div>
            <img src="../assets/profile.jpeg" alt="Profile Picture" title="Profile Picture">
          </div>
        </a>
        <a href="../index.html">
          <h1>Daniel Ivan</h1>
        </a>
      </div>
      <div class="content contact-content">
        <a href="https://twitter.com/DanielIvanST">
          <i class="fab fa-twitter fa-xs">
            <span> @DanielIvanST</span>
          </i>
        </a>
        <a href="https://www.linkedin.com/in/daniel-iv%C3%A1n-salado-torres-2b2a4b195/">
          <i class="fab fa-linkedin-in fa-xs">
            <span> Daniel Iván Salado Torres</span>
          </i>
        </a>
        <a href="mailto:danielivansaladotorres@gmail.com?Subject=Business">
          <i class="far fa-envelope fa-xs">
            <span> danielivansaladotorres@gmial.com</span>
          </i>
        </a>
      </div>
    </section>
  </body>
</html>
