<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Fun Facts - Daniel Iván</title>
    <link rel="stylesheet" type="text/css" href="../styles/main.css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet" />
  </head>
  <body>
    <nav>
      <div class="bio-logo">
        <img src="../assets/bio.webp" alt="logo" title="Biography's logo" />
      </div>
      <div class="nav-links">
        <div>
          <a href="bio.html">Bio</a>
        </div>
        <div class="selected">
          <a href="funfacts.html">Fun Facts</a>
        </div>
        <div>
          <a href="contact.html">Contact</a>
        </div>
      </div>
    </nav>
    <section class="container">
      <div class="profile-container">
        <a href="../index.html">
          <div>
            <img src="../assets/profile.jpeg" alt="Profile Picture" title="Profile Picture">
          </div>
        </a>
        <a href="../index.html">
          <h1>Daniel Ivan</h1>
        </a>
      </div>
      <div class="content">
        <p>Do you know that in Switzerland it is illegal to own just one guinea pig? This is because
        guinea pigs are social animals, and they are considered victims of abuse if they are alone. That's kinda funny.</p>
        <p>But maybe you are here just to find something hilarious about me. Sorry to disappoint you, there's no such thing.</p>
      </div>
    </section>
  </body>
</html>
